body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3 {
  text-align: center;
  margin: 20px;
}

a {
  background-color: #ffffff;
  color: black;
  padding: 14px 30px;
  text-align: center;
  margin: 10 0;
  text-decoration: none;
  font-weight: 600;
}
.container {
  background-image: linear-gradient(
    to left,
    #8d5022 0%,
    #f7941d 88%,
    #ffffff 12%,
    #ffffff 100%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-wrapper {
  padding: 1em 0 3em 0;
  width: auto;
  height: 42em;
  margin: 0 auto;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-empty {
  margin: 0 auto;
  font-weight: 700;
}

.column {
  width: auto;
  margin: 0.5em;
  justify-content: space-between;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
}

.card span {
  font-weight: bold;
}

.err {
  background-color: rgb(255, 255, 255);
  color: rgb(206, 12, 12);
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

.del-btn {
  background: rgb(243, 85, 12);
  padding: 8px 15px 8px 15px;
  margin-left: 0;
  border: none;
  color: #fff;
}

.edit-btn {
  background: #878888;
  padding: 8px 15px 8px 15px;
  margin-right: 0;
  border: none;
  color: #fff;
}

.form-wrapper {
  padding: 1em 0 3em 0;
  width: auto;
  margin: 0 auto;
  text-align: left;
}

.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 li p {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="number"],
.form-style-1 input[type="email"],
.form-style-1 input[type="radio"],
.form-style-1 input[type="checkbox"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="date"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 input[type="radio"]:focus,
.form-style-1 input[type="checkbox"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #878888;
  -webkit-box-shadow: 0 0 8px #878888;
  box-shadow: 0 0 8px #878888;
  border: 1px solid #878888;
}
.form-style-1 .field-long {
  width: 100%;
}

.form-style-1 .field-box {
  margin-right: 10px;
  vertical-align: text-top;
}
.form-style-1 .field-select {
  width: 100%;
}
.form-style-1 .field-textarea {
  height: 100px;
}
.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  background: #4f5050;
  padding: 8px 15px 8px 15px;
  border: solid 1px black;
  color: #fff;
}
.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: #878888;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style-1 .required {
  color: red;
}

@media screen and (max-width: 800px) {
  .container {
    background-image: linear-gradient(to right, #f7941d, #8d5022);
    width: 100%;
    padding: 10px 5px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
